@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.image{
    height: 120px;
    width: 120px;
    /* flex-direction: row;
    justify-content: center; */
}

body{
    margin: 0;
}
.input-style{
    margin: 20px;
    width: 100vw;
    
}

.heading-style{
    color: greenyellow;

}

.link{
    color: lightblue;
}

.div-style{
    padding: 20px;
}

.para-style{
    font-family: 'Roboto';
}